<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	
		<div class="container-fluid">
			<div class="page-header">
			  <h1>That Swords'n'Sorcery Game</h1>		  
			  <h1><small>Edit Account</small></h1>
			</div>
			
			<nav class="navbar navbar-inverse">
			  <ul class="nav navbar-nav">
				<li><a href="index.html">Characters</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Items
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="weapons.html">Weapons</a></li>
						<li><a href="armor.html">Armor</a></li>
					</ul>
				</li>
				<li><a href="spells.html">Spells</a></li>
				<li><a href="monsters.html">Monsters</a></li>
				<li class="active"><a href="accounts.html">Accounts</a></li>
			  </ul>			  
			</nav>		
			
			<form class="form-horizontal">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="name">Username:</label>
						<input type="text" class="form-control" id="name">
						
						<label for="email">Email Address:</label>
						<input type="text" class="form-control" id="email">
					  
						<label for="password">Password:</label>
						<input type="password" class="form-control" id="password">
					 
						<label for="pwordConf">Confirm Password:</label>
						<input type="password" class="form-control" id="pwordConf">
						
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Customer Rate
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<!-- Pull from DB somehow? -->
					</div>
				  
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>